/* Общие стили для кнопок */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

h1, h3 {
    color: #333;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product-name {
    font-weight: bold;
}

.product-description {
    flex-grow: 1;
    margin: 0 20px;
}

.product-price {
    margin-right: 20px;
}

.product-order a {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.product-order a:hover {
    background-color: #45a049;
}